header {   
    display: flex;
    justify-content: space-between;
    color:black;
    background-color: white;
    height: fit-content;
    padding: 10px 0px;
}
.home {
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    color: white;
    width: 25vh;
    height: 22vh;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@media (max-width: 405px) {
   .home {
    display: none;
   }
}
.cuadri {
    width: 10px;
    height: 10px;
    align-self: center;
    margin-right: 3px; 
    background-color: black;  
}
.identidad { 
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding-top: 5px;
    justify-content: space-between;
}
.nombre {
    font-size: 2.3em;
    margin-top: 8px;
}

.ocupacion {
    font-size: 1.1em;
    margin-left: 3px;
}
.contacto {
    font-size: 2em;
    width: fit-content;
    margin-bottom: 8px;
    cursor: pointer;
    z-index: 100;
}
.space{
    display: flex;
}